@import './partials/color';
@import './partials/mixins-button';
@import './partials/font';
@import './component/header';
@import './component/button';
@import './component/header';
@import './partials/global';
@import './partials/common';
@import './component/homepage';
@import './component/table';
@import './component/footer';
@import './component/progressbar';
@import './partials/media-queries';
@import './component/embed';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// ---------------------------